# Dependencias
node_modules/
dist/

# Playwright específico
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Entornos y Secretos (CRÍTICO)
.env
.env.*
! .env.example

# Logs y Sistema
npm-debug.log*
.DS_Store